* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 60px;
    background: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("pic/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;

}

.border {
    border: 1.5px solid transparent;

}

.border:hover {
    border: 1.5px solid white;
}

/* box 2 */


.first-loca {
    color: #cccccc;
    font-size: 0.85;
    margin-left: 15px;
}

.second-loca {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box-3 */
.nav-search:hover {
    border: 2px solid rgb(243, 190, 14);
}

.nav-search {
    display: flex;
    background-color: rgb(243, 190, 14);
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
}

.select-search {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

/* box-4 */
span {
    font-size: 0.7rem;
}

.nav-sec {
    font-size: 0.85;
    font-weight: 700;
}

/* box-5 */
.nav-card i {
    font-size: 35px;
}

.nav-card {
    font-size: 0.85rem;
    font-weight: 700;

}

/* panel */

.panel {
    height: 40px;
    background-color: #222f3b;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */

.hero-section {
    background-image: url("pic/hero_image.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: #fff;
    color: #070707;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

/* shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    height: 1400px;
    justify-content: space-evenly;
    background-color: #bac9c6;
}

.box {
    border: 2px solid black;
    height: 300px;
    width: 23%;
    background-color: #fff;
    margin-top: 15px;
    padding: 20px 0 15px;
    border: none;
}

.box-img {
    height: 200px;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.box-content {
    margin-right: 1rem;
    margin-left: 1rem;
}

.box-content p {
    color: #007185;
}

/* footer */

.footer {
    margin-top: 25px;
}

.foot-panel {
    background-color: #37475a;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: #fff;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 25px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    margin-top: 25px;
}

.foot-panel3 {
    background-color: #222f3d;
    color: #fff;
    border-top: 0.5px solid white;
    height: 60px;
    display: flex;
    justify-content: center;
}


/* media query */

@media screen and (max-width: 1099px) {
    .nav-search {
        width: 50%;
    }

    .nav-loca,
    .nav-signin,
    .panel-deals {
        display: none;
    }

    .hero-section {
        height: 200px;
    }

    .box {
        width: 46%;
        margin-top: 15px;
        margin-left: 2px;
        border: none;
    }

    .shop-section {
        display: flex;
        flex-wrap: wrap;
        height: 2800px;
        justify-content: space-evenly;
        background-color: #bac9c6;
    }

    .foot-panel2 {
        display: flex;
        height: 300px;
        padding: 10px;
    }

    .last {
        width: 50%;

    }

    .last1 {
        display: none;
    }

    .hero-msg {
        font-size: .6rem;
        padding: 20px;
    }
}

@media screen and (max-width: 433px) {
    .box {
        width: 80%;
        margin-left: 2px;
        border: none;
    }

    .shop-section {
        height: 5200px;
    }
}